:root{
    --font-family-montserrat:"Montserrat", sans-serif;
    --font-family-fraunces:"Fraunces", serif;

    --color-green-500:hsl(158, 36%, 37%);
    --color-green-700:hsl(158, 42%, 18%);
    --color-black:hsl(212, 21%, 14%);
    --color-grey:hsl(228, 12%, 48%);
    --color-cream:hsl(30, 38%, 92%);
    --color-white:hsl(0, 0%, 100%);

    --font-weight-light:500;
    --font-weight-bold:700;

    --font-size-xs:0.75rem;
    --font-size-base:0.875rem; /*14px*/
    --font-size-lg:1rem;
    --font-size-xl:1.5rem;
    --font-size-2xl:2rem;

    --space-xs:0.5rem;
    --space-sm:0.75rem;
    --space-md:1rem;
    --space-lg:1.5rem;
    --space-xl:2rem;
    
    --border-sm:0.25rem;
    --border-md:0.5rem;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

body{
    background-color: var(--color-cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-family-montserrat);
    color: var(--color-black);
    line-height: 1.1;
}

.card{
    background-color: var(--color-white);
    max-width:20rem;
    border-radius: var(--border-md);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card__elements-container{
    display: flex;
    padding: var(--space-md);
    flex-direction: column;
    gap: var(--space-md);
    justify-content: center;
}

.card__img{
    height: auto;
    display: block;
    width: 100%;
    border-radius:0;
}

.card__category{
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
    color: var(--color-grey);
}

.card__title{
    font-weight: var(--font-weight-bold);
    line-height: 1;
    font-size: clamp(1rem, 1.5rem+2vw, 3rem);
    font-family: var(--font-family-fraunces);
}

.card__desc{
    font-size: var(--font-size-xs);
    color: var(--color-grey);
    line-height: 1.6;
}

.card__prices{
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.card__price-active{
    color: var(--color-green-500);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-montserrat);
}

.card__price-slashed{
    color: var(--color-grey);
    font-size: var(--font-size-xs);
    text-decoration:line-through;
}

.card__cta{
    border: none;
    padding: var(--space-sm) 0;
    border-radius: var(--border-sm);
    background-color: var(--color-green-500);
    transition: background-color .2s ease;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
}

.card__cta:hover{
    background-color: var(--color-green-700);
}

@media (min-width:768px){
    .card{
        flex-direction:row;
        max-width:38rem;
    }
    .card__elements-container{
        width: 50%;
        padding: var(--space-lg);
    }
    .card__img-container{
        width: 50%;
    }
}